@media screen and (max-width: 400px) {
    .container {
        width: 90%;
    }
}

@media screen and (min-width: 576px) {
    #purchase__products .main-products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .header .Mainheader .icon ul {
        display: flex;
    }

    .footermob {
        display: none;
    }

    footer {
        margin-bottom: 0 !important;
    }

    #slider .main-slider {
        height: 35rem;
    }

    #purchase__products .main-products-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #purchase__products .main-products-grid .products {
        grid-column: 1 / 3;
    }

    #progress__bar article .progress__sections p {
        font-size: 1.3rem;
    }

    #progress__bar article .progress__sections p i {
        font-size: 2rem;
    }

    #purchase__products .main-products-grid .products .product__box .right__section h3 {
        font-size: 1.5rem;
    }

    #purchase__products .main-products-grid .products .product__box .left__section>p {
        font-size: 1.5rem;
    }

    #purchase__products .main-products-grid .products .product__box .left__section .product__price p {
        font-size: 1.2rem;
    }

    #purchase__products .main-products-grid .products .product__box .right__section .count__section button {
        padding: 7px;
    }

    #purchase__products .main-products-grid .products .product__box .right__section .count__section .product__count {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 992px) {
    #slider .main-slider {
        height: 40rem;
    }
}

@media screen and (min-width: 1200px) {
    #slider .main-slider {
        height: 45rem;
    }
}

/* زیر 400 پیکسل : برای گوشی های با صفحه نمایش کوچک */
/* بالای 400 پیکسل تا 576 پیکسل : گوشی های با صفحه نمایش معمولی رو به بالا */
/* از 576 پیکسل تا 768 پیکسل تبلت و گوشی های با صفحه نمایش بزرگ */
/* از 768 پیکسل تا 992 پیکسل لپ تاپ های با صفحه نمایش کوچک  */
/* از 992 پیکسل به بالا لپ تاپ و مانیتور */